body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

#app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
}

input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
}

button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 3px;
}

.user-card {
  background: #222;
  padding: 14px;
  margin: 8px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
